* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
}
header {
  background-color: #244068;
  color: #f9faf8;
  padding: 10px 250px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 24px;
  font-weight: 700;
  justify-content: flex-start;
}
.links,
a:visited,
a:link {
  text-decoration: none;
  gap: 20px;
  font-size: 18px;
  color: #f9faf8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero {
  background-color: #244068;
  color: #f9faf8;
  padding: 50px 250px;
  display: flex;
  justify-content: space-between;
}
.greeting {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  margin-top: 10px;
  padding: 5px 20px;
  border-radius: 10px;
}
.hero img {
  background-color: grey;
  padding: 50px;
  display: flex;
  align-self: center;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.content {
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  width: 50px;
  text-align: center;
  gap: 50px;
}
.content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid #244068;
  border-radius: 10px;
}

.quote,
.quote-author {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 0px 600px;
  display: flex;
}
.quote {
  font-size: 24px;
  font-style: italic;
  padding-top: 50px;
}
.quote-author {
  font-weight: bold;
  padding-bottom: 50px;
  justify-content: flex-end;
}

.action {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 50px 500px;
  padding: 25px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.action button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 5px 20px;
}

footer {
  background-color: #244068;
  color: #f9faf8;
  font-size: 16px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
